body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.input-box, .bottom-box {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	background: grey;
	text-align: center;
	border-radius: 10px;
	box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
	margin-bottom: 10px;
}

.input-box {
	padding-bottom: 30px;
}

.input {
	padding: 3px;
	border: 1px solid black;
	border-radius: 5px;
}

.bottom-box {
	background: lightblue;
}

#information {
	display: none;
	color: red;
	font-weight: bold;
}

#day, #month, #year, #sex {
	font-weight: bold;
}

span:nth-child(3), span:first-child {
	background: white;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	width: 40%;
	min-height: 22px;
	display: inline-block;
}

span:nth-child(3) {
	float: right;
}

.output-box{
	width: 50%;
	margin: auto;
	text-align: left;
}

@media only screen and (max-width: 1056px) {
    .biggerCol {
        height: 44px;
    }
}